@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

:root {
    --color-main: #0f0c08;
    --color-gris: #1c1c1c;
    --color-blanco: #ffffff;
    --color-gris-clarito: #f2f2f2;
    --font: 'Roboto', Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
textarea,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-image: url("../assets/bg_01.jpg");
    background-size:auto;
/*     background-repeat: repeat; */
    background-color: var(--color-main);
    margin: 0;
    padding: 0;
}

.logo img {
    max-width: 9rem;
    object-fit: contain;
}

/*------------------------ Nav bar----------------*/

aside {
/*     background-color: var(--color-main); */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;

}

.botones {
    background-color: transparents;
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
    justify-content: center;
}

.boton-menu {
    background-color: transparent;
    color: white;
    border: none;
    font-family: var(--font);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: .2s;
    
}

.boton-menu.active {
    /*     background-color: var(--color-gris-clarito); */
    color: var(--color-gris-clarito);
    border-radius: .5rem;
    color: var(--color-main);
    background-color: var(--color-blanco);
    padding-left: .5rem;
    padding-right: .5rem;
    transition: .4s;
}

.boton-menu.active:hover {
    color: var(--color-main);
}

.numero {
    background-color: var(--color-blanco);
    color: var(--color-main);
    padding: .15rem .25rem;
    border-radius: .25rem;
}


.boton-menu:hover {
    color: grey;
    cursor: pointer;
}


/*--------------Grid de main categorias-----------*/
.contenedor-imagenes-productos {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*--------------Cards de productos------------------*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 0;
    padding-bottom: 1rem;
    border-radius: 1rem;
}

.titulo-principal {
    text-align: left;
    color: var(--color-blanco);
    text-align: center;
    margin: 1rem;
    margin-top: 2rem;
}

.contenedor-productos {
    width: 90%;
    background-color: var(--color-gris-clarito);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    border-radius: 1rem;
}

.producto-imagen {
    max-width: 100%;
    max-height: 100%;
    border-bottom: 1px solid black;
}

.producto-info {
    color: var(--color-main);
    margin-top: 1rem;
    padding: 1rem;
}

.producto {
    background-color: var(--color-blanco);
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 1rem;
}

.producto-agregar {
    background-color: var(--color-main);
    color: var(--color-blanco);
    border-radius: 1rem;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
    border-color: transparent;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: .2s;   
}

/* .producto-id {
    display: none;
} */

.producto-agregar:hover {
    background-color: var(--color-gris-clarito);
    color: var(--color-gris);
    cursor: pointer;
}


/* ------------------ CARRITO -----------------*/

.contenedor-carrito {
    width: 90%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    padding: 1rem;
}


.carrito-producto {
    display: flex;
    flex-direction: row;
    background-color: var(--color-blanco);
    justify-content: space-between;  
    align-items: center;
    padding: 1rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.carrito-producto-imagen {
    max-width: 100px;
}

.carrito-producto-titulo {
    color: black;
}

.carrito-producto small {
    font-size: 1.2rem;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}

.carrito-producto-eliminar:hover {
    color: rgb(209, 0, 0)
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-izq button {
    border: 0;
    padding: 1rem;
    background-color: var(--color-main);
    color: var(--color-blanco);
    border-radius: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1rem;
}

.carrito-acciones-der {
    display: flex;
    align-items: center;
}

.carrito-acciones-total {
    display: flex;
    font-size: 1rem;
    padding: 1rem;
    background-color: var(--color-gris-clarito);
    color: var(--color-main);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}

.carrito-acciones-total span {
    color: red;
}

.carrito-acciones-comprar  {
    border: 0;
    padding: 1rem;
    background-color: var(--color-main);
    color: white;
    text-transform: uppercase;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-size: 1rem;
    transition: .3s;
}

.carrito-acciones-comprar:hover{
    background-color: rgb(0, 164, 41);
    color: var(--color-blanco);
    cursor: pointer;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
    transition: .3s;
}

.carrito-vacio {

    background-color: var(--color-blanco);
    color: var(--color-main);
    border-radius: 1rem;
    padding: 2rem;
    font-size: 1.5rem;
}

.header-mobile {
    display: None;
}

 .disabled {
    display: none;
}

.carrito-acciones-izq button {
    background-color: var(--color-main);
    transition: .2s;
}

.carrito-acciones-izq button:hover {
    background-color: red;
}

.carrito-comprado {
    background-color: var(--color-blanco);
    background-color: var(--color-blanco);
    color: var(--color-main);
    border-radius: 1rem;
    padding: 2rem;
    font-size: 1.5rem;
}

/*---------------FOOTER---------------------*/
.footer-wrapper {
    width: 100%;
    background-color: var(--color-main);
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 4rem;
    font-family: var(--font);
    margin-top: 1.5rem;
    padding: 1rem;
}

.footer-contacto a {
    color: var(--color-blanco);
}

.footer-redes-logo {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.footer-redes-logo a  {
    color: var(--color-blanco);
    transition: .2s;
    font-size: 2rem;
}
.footer-redes-logo a:hover {
    color: grey;
    cursor:pointer;
}

.footer-redes-logo a {
    color: var(--color-blanco);
}

/* ALERTA */

.fa-thumbs-up {
    font-size: 2rem;
    background-color: transparent;
    color: rgb(255, 255, 255);
}


/*---------MEDIA QUERYS------------*/
@media screen and (max-width: 1245px){
    .contenedor-productos {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media screen and (max-width:1050px){
    aside {
        align-items: unset;
        position: sticky;
        width: 100%;
        z-index: 9;
        opacity: 1;
        display: none;
    }
    
    .aside-visible {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    
    .logo {
        display: none;
    }
    
    .header-mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .header-mobile img {
        width: 12rem
    }
    
    .open-menu {
/*         background-color: var(--color-blanco); */
        color: var(--color-main);
        border: 2px solid var(--color-blanco);
        border-radius: 1rem;
        padding: .5rem;
        padding-top: .2rem;
        padding-bottom: .2rem;
        margin-right: 1rem;
        font-size: 3rem;
        cursor: pointer;
        transition: .2s;
    }

    .open-menu:hover {
        background-color: var(--color-main);
        color: white;
    }

    .carrito-producto {
        flex-direction: column ;
        text-align: left;
        justify-content: start;
    }

    .carrito-producto-titulo {
        background-color: var(--color-gris);
        color: var(--color-blanco);
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: .5rem;
        border-bottom: 1px solid white;
    }
    
    .carrito-producto-cantidad {
        background-color: var(--color-gris);
        color: var(--color-blanco);
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: .5rem;
        border-bottom: 1px solid white;
    }

    .carrito-producto-precio {
        background-color: var(--color-gris);
        color: var(--color-blanco);
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: .5rem;
        border-bottom: 1px solid white;
    }

    .carrito-producto-subtotal {
        background-color: var(--color-gris);
        color: var(--color-blanco);
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: .5rem;
        border-bottom: 1px solid white;
    }

    .carrito-producto-eliminar {
        margin-top: 1rem;
    }
}



@media screen and (max-width: 900px){
    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }

    .botones {
        width: 100%;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        text-align: center;
        background-color: var(--color-main);
        padding: 1rem;
        gap: 3rem;
        margin-top: 0;
    }

    .boton-menu {
        width: 100%;
        background-color: transparent;
        padding: 1rem;
    }    
}

@media screen and (max-width: 700px) {
    .carrito-acciones {
        flex-direction: column;
        gap: 1rem;
    }

    .carrito-acciones-der {
        flex-direction: column;
        gap: 1rem;
    }

    .carrito-acciones-izq button {
        width: 100%;
        background-color: red;
    }

    .carrito-acciones-total {
        width: 100%;
        border-radius: 1rem;
        justify-content: center;
    }

    .carrito-acciones-comprar {
        width: 100%;
        background-color: rgb(0, 175, 41);
        border-radius: 1rem;
        transition: 0;
    }

    .carrito-acciones-izq button:hover,
    .carrito-acciones-comprar:hover {
        background-color: var(--color-main);
        color: var(--color-blanco);
    }
}



@media screen and (max-width: 600px){
    .contenedor-productos {
        grid-template-columns: 1fr;
        background-color: transparent;
    }

    .producto {
        background-color: var(--color-gris-clarito);
    }

    .producto-agregar {
        width: 100%;
    }

    .carrito-vacio {
        font-size: 1rem;
        flex-wrap: wrap;
    }
 
    .carrito-producto-titulo {
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }


    .footer-wrapper {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        justify-content: center;
        text-align: left;
    }
}
